<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %}Aplicación{% endblock %}</title>
</head>

<body>

<header>
    <h1>Gestión de Incidencias</h1>

    <div class="user-info">
    <span>{{ user.username }}</span>

    <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</div>
</header>

<nav>
    <a href="{% url 'home' %}">Inicio</a>
    <a href="{% url 'calidad' %}">Calidad</a>

    {% if user.is_staff %}
        <a href="{% url 'admin:index' %}">Admin</a>
    {% endif %}
</nav>

<main class="main-content">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>